<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleView()">
        <ion-icon slot="icon-only" name="list" *ngIf="!showList"></ion-icon>
        <ion-icon slot="icon-only" name="apps" *ngIf="showList"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-produto-card [produtos]="produtos" *ngIf="!showList"></app-produto-card>
  <app-produto-list [produtos]="produtos" *ngIf="showList"></app-produto-list>

  <div class="ion-padding custom-skeleton" *ngIf="!courses">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>
</ion-content>