<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" clearInput formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" clearInput formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <p>
    <ion-button color="primary" size="large" shape="round" expand="full" fill="outline" [disabled]="form.invalid"
      (click)="submit()">
      Entrar
    </ion-button>
  </p>
</ion-content>